<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>

  <!-- 일반적인 Fabicon 설정. (인터넷 탭창 또는 주소창에 표기되는 아이콘) -->
<link rel="icon" href=/assets/Images/GoldenBoyFavicon.ico />
<!-- 아이폰용 Fabicon 설정 -->
<link rel="apple-touch-icon" href=/assets/Images/GoldenBoyFavicon.ico />
<!-- 인터넷 익스플로러 Fabicon -->
<link rel="short icon" type="image/x-icon" href=/assets/Images/GoldenBoyFavicon.ico />

</head>